sudo: required
dist: trusty
language: node_js
node_js:
  - "5"
env:
  global:
  - GIT_REPO_ASCIIDOCTOR_STYLESHEET: "https://github.com/asciidoctor/asciidoctor-stylesheet-factory.git"
  - GIT_STYLES_DIR:  "$TRAVIS_BUILD_DIR/asciidoctor-styles"
install:
  - gem install --version '0.12.7' compass
  - gem install --version '4.3.2' zurb-foundation
before_script:
  - echo "Git clone the Asciidoctor Stylesheet Factory project and compile the css files using ruby compass"
  - git clone $GIT_REPO_ASCIIDOCTOR_STYLESHEET $GIT_STYLES_DIR
  - cd $GIT_STYLES_DIR
  - mkdir -p $GIT_STYLES_DIR/stylesheets/foundation
  - compass compile
  - mkdir -p $TRAVIS_BUILD_DIR/litoria/assets/css
  - mv -R $GIT_STYLES_DIR/stylesheets/* $TRAVIS_BUILD_DIR/litoria/assets/css/
script:
  - cd $TRAVIS_BUILD_DIR/litoria && make
after_success:
# - cd $TRAVIS_BUILD_DIR/assets/
# - git init
  - git config user.name "${GH_USER_NAME}"
  - git config user.email "{GH_USER_EMAIL}"
  - cd $TRAVIS_BUILD_DIR/litoria
  - rm -rf node_modules/
  - ls -la .
  - git checkout -b release
  - git add . ; git commit -m "Deploy the release branch"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:release > /dev/null 2>&1
deploy:
  provider: npm
  email: cmoulliard@redhat.com
  api_key:
    secure: F9nLWmMAbojUlgN6Pb3c30gs89tX9FufEo/EMKOAfZ+CE+3DQUOIq6M5sNpgmFclmgO1GwJ92e5xSHaaWIpgsGcmw/a/FYpx+IY6HCltxjKBjcX8FlNLT733GQ7LBN7QNFnlEuOX1IakRlI5AGrpG+jzvtFZ4+VKgqT4W0ZV8Ek6dGBW8vAW6E9PAwUYHw483wzSl0AbrsX3onLn+ZQawVw0Rnp7Nn+yjN6U5PT0raoxHHvIuzwK1+V49Hg3UjsoAcHS7BbB1XPf1RbcFMPnNIao3nlefvUmo8zl25dYq9K3R6c9LjFJDUohbh/jZgaDh4NPEeMYX7iXa4fEMmHC2Bs5P1CZA+c8UWDiN5IfItW/KilXM2RsEcyPkb01/VzNCmd42e6R0I7rDIT/hWcgJFGHpzHU3FaqN6l6Rm+HwtTSWE25lpmX19CpxgUuVxCMnCaVYWSqo5j7CI6s8rg5xdYhPlLVCQhAN5fNsoqg0DPybOI3p63crszkoYO7uk0SJYTrVbqOOKh/BKfPqTX+IGW+M5r+n3geXzjfs39xE0hWThSAuX16wPgYMfNnYVgurabnX2CypAXhxazIB9DQyRbaMPvz6rtEV5+8ek8/Ow0QMenJGReSBi7ybCSZBM1g+BSeJhDcgaeZW9afV7DNjoCrFEBc4zLKHvVqhgi2nj4=
  on:
    branch: release
notifications:
  email:
    recipients:
      - ch007m@gmail.com
    on_success: change # default: change
    on_failure: always # default: always